<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title> Air Travel Delay Predictor </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
</head>

<body>
    <div class="grid-wrapper">

        <div class="grid-header">
            <a href="home"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo" style="width: 430px;"></a>
        </div>

        <div class="grid-topnav">
            <a href="home">Home</a>
            <a href="about">About</a>
            <a href="help">Help</a>
            <a href="contact" style="background-color: blue;">Contact</a>
        </div>

        <div class="grid-main">
            <div class="grid-content">
                <h1>Contact Us</h1>
                <br>
                <p><strong>Author: Email</strong></p>
                <p><strong>Wessam Kaddoura</strong>: <a href="mailto:wkaddoura3@gatech.edu"> wkaddoura3@gatech.edu</a></p>
                <p><strong>Andrew McAlister</strong>: <a href="mailto:amcalister7@gatech.edu"> amcalister7@gatech.edu</a></p>
                <p><strong>Sarah Schattenfield Paustian</strong>: <a href="mailto:sfarmer36@gatech.edu"> sfarmer36@gatech.edu</a></p>
                <p><strong>Alex Demory</strong>: <a href="mailto:ademory3@gatech.edu"> ademory3@gatech.edu</a></p>
                <p><strong>Leah Schattenfield</strong>: <a href="mailto:lss30@gatech.edu"> lss30@gatech.edu</a></p>
                <p><strong>Eric Park</strong>: <a href="mailto:epark313@gatech.edu"> epark313@gatech.edu</a></p>
            </div>
        </div>
    </div>

</body>

</html>
