* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
    background: lightblue url("background.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.grid-wrapper {
    display: grid;
    grid-template: auto auto 1fr / 1fr;
    grid-template-areas: "header" "topnav" "main";
    height: 100vh;
}

/* Title */
.grid-header {
    grid-area: header;
    background-color: white;
}

/* Navigation Bar */
.grid-topnav {
    grid-area: topnav;
    background-color: darkblue;
}

.grid-topnav a {
    float: left;
    text-align: center;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.grid-topnav a:hover {
    background-color: blue;
}

/* Main Content */
.grid-main {
    grid-area: main;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.grid-content {
    height: fit-content;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
